<main>
  <header>
    <h1> {{ appName }}</h1>
    <p> {{ description }} </p>
  </header>


  <section>
    <h2>Nueva incidencia</h2>

    <label for="incident-title">Titulo</label>

    <input id="incident-title" name="incidentTitle" type="text" placeholder="Ejemplo: Computador sin conexion"
      [(ngModel)]="newIncidentTitle" />

    @if (newIncidentTitle.trim().length === 0){
    <p>El titulo es obligatorio</p>
    }@else {
    <p>Titulo ingresado : {{ newIncidentTitle }}</p>
    }

    <label for="incident-description">Descripcion</label>
    <textarea id="incident-description" name="incidentDescription" row="4"
      placeholder="Descibre el problema con el mayo detalle posible" [(ngModel)]="newIncidentDescription"></textarea>

    @if (newIncidentDescription.trim().length === 0){
    <p>La descripcion es obligatoria</p>
    }@else {
    <p>Descripcion ingresada : {{ newIncidentDescription }}</p>
    }


    <label for="incident-Priority">Prioridad</label>

    <select id="incident-Priority" name="incidentPriority" [(ngModel)]="newIncidentPriority">
      <option value="Baja">Baja</option>
      <option value="Media">Media</option>
      <option value="Alata">Alta</option>
    </select>

    <p>Prioridad selecionada: {{ newIncidentPriority }}</p>


    <label for="incident-Status">Estado</label>

    <select id="incident-Status" name="incidentStatus" [(ngModel)]="newIncidentStatus">
      <option value="Abierta">Abierta</option>
      <option value="En proceso">En proceso</option>
      <option value="Resuelta">Resulta</option>
    </select>

    <p>Estado seleccionado: {{ newIncidentStatus }}</p>




    <button type="button"
      [disabled]="newIncidentTitle.trim().length === 0 && newIncidentDescription.trim().length === 0"
      (click)="clearForm()">Limpiar</button>
  </section>

  <section>
    <h2>Incidencias registradas</h2>

    @for (incident of incidents; track incident.id) {
    <article>
      <h3>{{ incident.title }}</h3>

      <p>{{ incident.description }}</p>

      <p>
        <strong>Prioridad</strong>
        {{ incident.priority }}
      </p>

      <p>
        <strong>Estado</strong>
        {{ incident.status }}
      </p>
      <button type="button" (click)="changeIncidentStatus(incident.id)">Cambiar Estado</button>

    </article>
    }@empty {
    <p>No hay incidencias registradas</p>
    }
  </section>

</main>
